extends baseEmail

block content
  p Halo #{firstName} 👋,
  p Ada permintaan untuk mengganti password Anda di Fluxtours.
  p Untuk konfirmasi tindakan tersebut tolong akses link atau klik pada tombol di bawah ini!.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Password
  p.caution Peringatan: Link ini hanya berlaku selama 10 menit. Jika Anda tidak ingin atau tidak merasa mengganti password Anda, abaikan email ini.
  p Kami sangat menghargai privasi Anda, email ini tidak akan digunakan untuk kepentingan yang tidak berhubungan dengan aktifitas Anda di Fluxtours.
  p Salam hangat,
  p Fluxtours