header.header
  nav.nav.nav--tours
    .header__logo
        img(src='/img/logo.png' alt='flux logo')
    form.nav__search
      button.nav__search-btn
        svg
          use(xlink:href='/img/icon.svg#icon-search')
      input.nav__search-input(type='text' placeholder='Search tours')
  nav.nav.nav--user
    a#linkall.nav__el(href='/') All tours
    button#loginButton.nav__el Log in
    button#signupButton.nav__el.nav__el--cta Sign up